// Specific CSS for your home-page
.topnav {
  background-color: #a8008482;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #d67ebc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.icon-bar {
  position: fixed; /* Position the icon bar */
  bottom: 0; /* Align to the bottom of the viewport */
  width: 100%; /* Set the width to fill the entire viewport */
  background-color: #4e0346; /* Dark-grey background */
  display: flex; /* Make the icon bar horizontal */
  justify-content: space-between; /* Center-align the icons horizontally */
  padding: 10px;
}

.icon-bar a {
  display: inline-block; /* Display the links as inline blocks */
  text-align: center; /* Center-align text */
  padding: 14px; /* Increase padding to make the clickable area larger */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: rgba(217, 157, 217, 0.614); /* White text color */
  font-size: 36px; /* Increased font-size */
  margin-left: 10px;
  margin-right: 10px; /* Add spacing between icons */
}

.icon-bar a:hover {
  background-color: rgba(242, 174, 236, 0.7); /* Add a hover color */
}

.icon-bar .active {
  background-color: rgb(222, 172, 239); /* Add an active/current color */
}
