<div class="container">

<h1>Chatrooms</h1>

  <%= form_tag chatrooms_path, method: :get, class: "search-bar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Buddies", class: "search-input" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>

  <% @chatrooms.each do |chatroom| %>
    <div class="chatroom">
      <%= link_to chatroom.name, chatroom_path(chatroom) %>
    </div>
  <% end %>
</div>
