<div class="container">
  <h1>All users</h1>

  <%= form_tag users_path, method: :get, class: "searchbar" do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Users", class: "search-input" %>
    <%= button_tag type: 'submit', class: "search-button" do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  <% end %>


  <% @users.each do |user| %>

    <div class="user-card">
      <h2><%= link_to user.username, user_path(user) %></h2>
      <h3>Hobbies: X X X X X </h3>
    </div>

  <% end %>

</div>
