
<!DOCTYPE html>
<html>
<head>
  <title>HobbyConnect</title>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
</head>
<body>
  <div class="header">
    <div class="logo">
      <%= image_tag "HobbyConnectYellow.png", width: 60 %>
    </div>
  </div>
</body>
</html>
