<div class="icon-bar">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="icon-bar">
  <%= link_to root_path do %>
    <i class="fa-sharp fa-solid fa-user-group"></i>
  <% end %>

  <%= link_to '/chatrooms' do %>
    <i class="fa fa-comments"></i>
  <% end %>

  <%= link_to '/events' do %>
    <i class="fa fa-calendar-days"></i>
  <% end %>

  <%= link_to root_path do %>
    <i class="fa fa-home"></i>
  <% end %>
</div>

</div>
