<% if attending_users.any? %>
  <p>Attending:</p>
  <div class="interested-users" style="border-top: solid 2px #e3e3e3; border-bottom: solid 2px #e3e3e3">
    <% attending_users.each do |user| %>
      <div class="d-flex justify-content-left">
        <% if user.photo.attached? %>
          <%= cl_image_tag(user.photo.key, class: "avatar-small") %>
        <% end %>
        <p style="margin-bottom: 0; padding: 0; height: 2rem; line-height: 2rem ">
          <%= link_to user.username, user_path(user.id) %>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
