
<h1 style="font-family: 'Blueberry', sans-serif;">Home Page</h1>
<p> test <p>
<%= link_to "log out",  destroy_user_session_path(current_user) %>
<%= link_to "sign in", new_user_session_path %>
<%= link_to "sign up", new_user_registration_path%>
