<div class="container">
  <br>

  <h1>Hobby Hub</h1>

  <br>

  <div class="hobby-hub-card-container">

    <% @hobbies.each do |hobby| %>

      <div class="hobby-hub-card">
        <%= link_to hobby_path(hobby) do %>
          <% if hobby.photo.attached? %>
            <%= cl_image_tag hobby.photo.key, width: "70px", height: "70px" %>
          <% else %>
            <%= hobby.name %>
          <% end %>
        <% end %>
        <p><%= hobby.name %></p>
      </div>

    <% end %>

  </div>

</div>
