<div class="container">
  <br>

  <h1 class="text-center">Hobby Hub</h1>

  <br>

  <div class="hobby-hub-card-container">

    <% @hobbies.each do |hobby| %>

        <%= link_to hobby_path(hobby) do %>
          <div class="hobby-hub-card">
            <div class="hobby-card-image">
              <% if hobby.photo.attached? %>
                <%= cl_image_tag hobby.photo.key, width: "70px", height: "70px" %>
              <% else %>
                <%= hobby.name %>
              <% end %>
            </div>
            <div class="hobby-card-name">
              <h3><%= hobby.name %></h3>
            </div>
        </div>
        <% end %>

    <% end %>

  </div>

</div>
