<div class="hobby-show-card-container align-center">
  <div class="hobby-show-top">
    <div class="hobby-show-top-icon">
      <%= cl_image_tag @hobby.photo.key, width: "90px", height: "90px" %>
    </div>
    <div class="hobby-show-top-text">
      <h1 class="text-center"><%= @hobby.name %></h1>
    </div>
  </div>

  <div class="hobby-show-card-body">
    <h3>Sub-hobbies</h3>

    <h3>Users</h3>

    <h3>Events</h3>

    <h3>Resources</h3>

    <%= link_to hobbies_path do %>
      <button class="hobby-show-button">Hobby Hub</button>
    <% end %>
  </div>

</div>
