.invisible-button{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

button.fa-solid.fa-plus{
  background-color: #a39bf87a;
  border: none;
  border-radius: 30%;
  padding: 4px;
  margin-right: 10px;
}


.back-button {
  color: #a39bf87a;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}


.back-button .fa-sharp.fa-solid.fa-circle-arrow-left {
  margin-right: 5px;
}

.edit-btn {
  background: none;
  font-size: 24px;
  color: #a39bf8;
}

.edit-btn:hover {
  color: #a39bf898;
}
