.invisible-button{
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
}

button.fa-solid.fa-plus{
  background-color: #d5aaff;
  border: none;
  border-radius: 30%;
  padding: 4px;
  margin-right: 10px;
}
