
.chatroom {
  background-color: white;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  background-image: url('chatroombg3.jpg');
  background-size: cover;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: auto;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }

    .btn {
      margin-top: 0;
      margin-bottom: 1rem;
      height: 62px;
    }

  }
}

.asker-message {
  max-width: 75%;
  background-color: rgba(212, 205, 255, 0.826);
  border-radius: 30px;
  text-align: right;
  margin-left: 84px;
  padding: 10px;
  word-wrap: break-word;
  margin-top: 15px;


  .message-content {
    padding-left: 6px;
  }

  p {
    text-align: left;
    margin-bottom: 3px;
  }
}


.receiver-message {
  max-width: 75%;
  background-color: rgba(200, 229, 247, 0.803);
  border-radius: 30px;
  text-align: right;
  padding: 10px;
  word-wrap: break-word;
  margin-top: 15px;

  .message-content {
    padding-left: 6px;
  }

  p {
    margin-bottom: 3px;
    text-align: left;
  }

  i {
    text-align: right;
  }
}

#message_content{
  border-radius: 10px;
}

.chatroom_card {
  background: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
  border-color: rgb(218, 218, 218);
  box-shadow: 0 2px 4px 0 rgba(125, 124, 124, 0.2);
  padding: 10px;
  margin: 15px;
  margin-bottom: 10px;
}

.no-link {
  text-decoration: none;
  color: black;
  font-weight: 600;

}

.chat-icon {
  margin-left: auto;
}

.container.chatroom {
  max-height: calc(87vh - 75px); /* Adjust 100px to match your header/footer height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the height */
}

.fa-comment {
  color: rgba(144, 124, 236, 0.418);
  /* Other styling properties if needed */
}

.a-r-btn input {
  text-decoration: none !important;
  color: white;
  background-color: #a39bf8 !important;
  border-radius: 10px;
  text-decoration: none;
  text-align: center;
  margin-left: 10px;
  padding: 3px 6px 3px 6px;
  box-shadow: none;
}


.avatar_and_name {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  padding: 1rem;
}

.chat_avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

a {
text-decoration: none;
color: black;
}

h1 {
  font-size: 25px;
  padding-left: -5px;
}
