.chatroom {

  background-color: white;
  height: calc(100vh - 75px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;

  h1 {
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    height: 100%;
    overflow: scroll;
    padding: 1rem;
  }

  #new_message {
    border-top: 1px solid $gray-200;
    padding: 1rem;

    .form-group {
      margin-bottom: 0;
    }
  }
}


.asker-message {
  max-width: 75%;
  background-color: rgb(210, 205, 255);
  border-radius: 30px;
  text-align: right;
  margin-left: 84px;
  padding: 10px;
  word-wrap: break-word;
  margin-top: 15px;


  .message-content {
    padding-right: 20px;
  }
}

.receiver-message {
  max-width: 75%;
  background-color: rgb(220, 200, 247);
  border-radius: 30px;
  text-align: left;
  padding: 10px;
  word-wrap: break-word;
  margin-top: 15px;

  .message-content {
    padding-left: 20px;
  }
}

#message_content{
  border-radius: 10px;
}
