.event-index-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.event-card {
  background: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
  border-color: rgb(218, 218, 218);
  box-shadow: 0 2px 4px 0 rgba(125, 124, 124, 0.2);
  padding: 0px 5px 0px 5px;
  margin-bottom: 20px;
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}

.event-hobby-icon {
  max-width: 60%;
  max-height: 60%;
}

.event-hobby-icon-bg {
  border-color: rgb(136, 136, 136);
  box-shadow: 0 0 3px #474747;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  //margin-bottom: 5px;
  background-color: #96c8fb;
  background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
}

.event-details {
  position: absolute;
  top: 10px;
  right: 10px;
}

.header-and-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.event-card p {
  font-size: 14px; color: grey; margin-bottom: 6px
}

.event-card .date {
  margin-bottom: 0;
}

.index-text-top {
  text-align: left !important;
  color:#474747d5 !important;
  margin-left: 5%;
}
