.modal-content {
  border-radius: 15px;
}

.modal-content p {
  color: grey;
  justify-content: ce;
}

.user-link a {
  text-decoration: none !important;
  color: grey;
}

.edit-delete {
  color: #a39bf8 !important;
}

.trash-can a {
  background-color: none !important;
  color: #a39bf8;
}

.a-r-btn button{
  text-decoration: none !important;
  color: white;
  background-color: #a39bf8 !important;
  border-radius: 10px;
  text-decoration: none;
  width: auto;
  height: auto;
  text-align: center;
  margin-left: 10px;
  padding: 3px 6px 3px 6px;
}

.interested-btn a {
  text-decoration: none !important;
  color: white;
  background-color: #a39bf8;
  margin-bottom: 5px;
  border-radius: 16px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.end {
  border-top: solid 2px #e3e3e3;
  padding: 1rem;
}

.interested-users a {
  text-decoration: none !important;
  color: grey;
  font-weight: bold;
  margin-bottom: 5px;
  border-radius: 16px;
  text-decoration: none;
  padding: 10px;
  text-align: center;
}

.avatar-small {
  height: 26px;
  width: 26px;
}
