// Specific CSS for your home-page
.header {
  background-color: #a8008482;
  overflow: hidden;
}

.header a {
  float: left;
  color: #d67ebc;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
