.header {
  background: linear-gradient(rgb(128, 111, 242), rgb(204, 195, 245));
  display:flex;
  width: 100%;
  height: 35%;
  align-items: center;
  justify-content: center;
  margin: 0;
  left: 0;
}

.logo {
  padding: 8px;
  height: auto;
}
