.header-and-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-hub-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-top: 5px;
  a {
    text-decoration: none;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
  }
}

.hobby-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}


.hobby-modal-users {
  width: 100%;
  display: flex;
  flex-direction: row;
  // grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
  img {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(116, 116, 116, 0.2);
  }
}

ul {
  list-style: none;
}

// .hobby-modal-users-avatars {
//   border-radius: 50%;
//   border-color: #474747;
// }

// .hobby-modal-content {
// }

.hobby-hub-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: row;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
  border-color: rgb(218, 218, 218);
  box-shadow: 0 2px 4px 0 rgba(125, 124, 124, 0.2);
  padding: 5px;
  margin-bottom: 15px;
  width: 98%;
  box-sizing: border-box;
}

.hobby-card-name {
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
}

.icon-container{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: rgb(136, 136, 136);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px #474747;
  background-color: #96c8fb;
  background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);

  a{
    text-align: center;
  }
}

.see-all-link {
  text-align:right;
}
