.header-and-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-hub-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-top: 5px;
  a {
    text-decoration: none;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
  }
}

.hobby-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.modal-image {
  padding-left: 5px;
  padding-top: 5px;
  //background-color: rgb(241, 241, 127);
}

.hobby-modal-users {
  width: 100%;
  display: flex;
  flex-direction: row;
  // grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

// .hobby-modal-users-avatars {
//   border-radius: 50%;
//   border-color: #474747;
// }

// .hobby-modal-content {
// }

.hobby-hub-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: column;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
  border-color: rgb(218, 218, 218);
  box-shadow: 0 2px 4px 0 rgba(125, 124, 124, 0.2);
  padding: 5px;
  margin-bottom: 20px;
  width: 98%;
  box-sizing: border-box;
}

.hobby-card-name {
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
}
