.header-and-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-hub-card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-top: 5px;
  a {
    text-decoration: none;
    // width: 100%;
    color: black;
    margin: 0;
    padding: 0;
  }
}

.hobby-modal-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border-bottom: solid 1px #e3e3e3 ;

  h1 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}


.hobby-modal-users {
  width: 100%;
  display: flex;
  //flex-direction: row;
  // grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
  justify-content: left;
  align-items: left;
  margin-bottom: 10px;
  img {
    height: 55px;
    width: 55px;
    object-fit: cover;
    border: 1px solid rgb(209, 209, 209);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(116, 116, 116, 0.2);
    margin-left: 7px;
    margin-right: 7px;
  }
}

ul {
  list-style: none;
}

// .hobby-modal-users-avatars {
//   border-radius: 50%;
//   border-color: #474747;
// }

// .hobby-modal-content {
// }

.hobby-hub-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  flex-direction: row;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
  border-color: rgb(218, 218, 218);
  box-shadow: 0 2px 4px 0 rgba(125, 124, 124, 0.2);
  padding: 5px;
  margin-bottom: 15px;
  width: 98%;
  box-sizing: border-box;
}

.hobby-card-name {
  text-align: center;
  text-decoration: none;
  flex-grow: 1;

  p {
    font-size: 23px;
    margin-bottom: 0;
  }
}

.icon-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 3px #474747;
  background-color: #96c8fb;
  background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%);
  margin: 10px;
  a {
    text-align: center;
  }
}

.see-all-link {
  text-align:right;
  margin-bottom: 0;
  margin-top: 10px;

  a {
    color: grey;
  }
}

.hobby-card-image {
  .icon-container {
    width: 45px;
    height: 45px;
  }
}
