.hobby-hub-card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hobby-hub-card {
  background-color: #d7ff81;
  height: 100px;
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  padding: 5px;
  box-shadow: 0 0 10px #1c1c1c;
  border-radius: 4px;
}

.hobby-hub-card p {
  margin-bottom: 0;
  font-size: 12px;
  color: #3d3b8e;
  font-weight: bold;
}
