.header-and-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hobby-hub-card-container {
  display: flex;
  align-items: center;
  // grid-template-columns: 1fr;
  // margin-left: 6px;
  flex-direction: column;
  justify-content: center;
  // padding: 0 5%;
  // width: 100vw;
  a {
    text-decoration: none;
    width: 100%;
    color: black;
    margin: 0;
    padding: 0;
  }
}

.hobby-hub-card {
  border-color: rgb(136, 136, 136);
  box-shadow: 0 0 3px #474747;
  height: auto;
  width: 100%;
  display: flex;
  // flex-direction: column;
  align-items: center;
  margin: 5px 0;
  padding: 5px;
  border-radius: 20px;
}

.hobby-card-name {
  text-align: center;
  text-decoration: none;
  flex-grow: 1;
}
