/* icons in the app but not in the sign in/edit */
.icon-container{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D7FF81;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hobby-icons{
  max-width: 60%;
  max-height: 60%;
}


/* icons in the sign in/edit forms */
.image-checkboxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.image-checkbox {
  margin-right: 10px;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #D7FF81;
  display: flex;
  justify-content: center;
  align-items: center;

  label{
    width: 70px;
  }
}

.hobby-icon {
  max-width: 60%;
  max-height: 60%;
}

.hobby-name {
  display: block;
  margin-top: 5px;
  font-size: 10px;
  text-align: center;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
