.nav-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.icon-bar {
  background: linear-gradient(rgb(108, 90, 228), rgb(194, 181, 237));
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  border-radius: 25px 25px 0px 0px;

}
.icon-bar a {
  display: inline-block;
  transition: all 0.3s ease;
  color: #faeffd;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0);
  font-size: 32px;
  margin: 0;
  padding: 5px;
}

.icon-bar a.active {
  background: linear-gradient(rgb(127, 90, 228), rgb(201, 181, 237));
  padding: 10px 31px;
}

.icon-bar img {
  width: 95px;
  height: 95px;
  margin-bottom: 25px;
  background: linear-gradient(rgb(108, 90, 228), rgb(194, 181, 237));
  border-radius: 50px;
  padding: 5px;
}
