.icon-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 8%;
  background-color: #25245e;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0 5%;
  margin: auto;
  left: 0;
}
.icon-bar a {
  display: inline-block;
  transition: all 0.3s ease;
  color: #d5aaff;
  font-size: 32px;
  margin: 0;
}

.icon-bar a:hover,
.icon-bar a.active {
  background-color: #4b4aa9;
  padding: 10px 31px;
}

.icon-bar img {
  width: 95px;
  height: 95px;
  margin-bottom: 15px;
}
