.search-bar {
  margin-bottom: 20px;
  margin-left: 10px;

}

.search-container {
  position: relative;
}

.search-input {
  padding: 8px;
  width: 200px;
  background-color: #8464f6a5;
  border-radius: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
  border: 1px solid #c99ef392;
}

.search-input::placeholder {
  color: #ffffff;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #cecece;
}

.search-button {
  padding: 5px 10px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  margin-left: -50px;
}


.search-button:focus {
  outline: none;
  box-shadow: none;
}
