.searchbar {
  margin-bottom: 20px;
  margin-left: 10px;
}

.search-input {
  padding: 8px;
  width: 200px;
  background-color:#3d3b8e;
  border-radius: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  color:#d7ff81;
  border: 1px solid;
}

::placeholder {
  color:#d7ff81;
  opacity: 1;
}

::-ms-input-placeholder {
  color:#d7ff81;
}

.search-button {
  padding: 5px 10px;
  background-color:#d7ff81;
  color:#3d3b8e;
  border: none;
  border-radius: 15px;
}

.search-button:hover {
  background-color:#d5aaff;
}
