.user-cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8px;
  margin-top: 5px;
}

.username-link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 15px;
  border-color: rgb(218, 218, 218);
  box-shadow: 0 2px 4px 0 rgba(125, 124, 124, 0.2);
  padding: 5px;
  margin-bottom: 20px;
  width: 98%;
  box-sizing: border-box;
}

.avatar-large {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.avatar-link {
  width: 30%;
  margin-top: -15px;
}

.user-details {
  flex-grow: 1;
  width: 65%;
}

.user-hobbies {
  display: flex;
  align-items: right
}

.user-hobby-icons {
  max-width: 60%;
  max-height: 60%;
}

.user-hobby-icon-bg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 6px;
  border-color: rgb(95, 61, 162);
  border-width: thick;
  box-shadow: 0 0 3px #474747;
}

.user-hobby-icons:last-child {
  margin-right: 0;
}

.user-hobby-icons-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: flex-end;
}

h1 {
  text-align: center;
}

h2 {
  font-size: large;
  font-weight: 600;
}

.header-and-search{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
