@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

@import "bootstrap";
@import "font-awesome";

@import "components/index";
@import "pages/index";
@import "components/header";
@import "components/navbar";
@import "components/searchbar";



body {
  background-color: white;
  background-size: cover;
}

h1 {
  font-weight: bold;
  margin-top: 5px;
}

h2, h4{
  font-family: $headers-font;
}
.btn {
  background-color: #a39bf87a;
  color: #ffffff;
  margin-bottom: 5px;
  border-radius: 14px;
  text-decoration: none;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
}

.btn:hover {
color: rgba(218, 200, 250, 0.871);
}

.fa-user-pen, .fa-right-from-bracket{
  color:#a39bf87a;
}

.separation-line{
  width: 100%;
  height: 3px;
  background-color:black;
}
